In [1]:
"Hello world"

'Hello world'

In [4]:
23 + 58

81

In [5]:
print( "The sum is", 23 + 58)

The sum is 81

In [6]:
a = 5
b = 95
print("The product is",a*b)

The product is 475